gs_terraria_motd: {{ gs_terraria_motd }}
gs_terraria_install_dir: {{ gs_terraria_install_dir }}
gs_terraria_port: {{ gs_terraria_port }}
gs_terraria_world_name: {{ gs_terraria_world_name }}
gs_terraria_autocreate_size: {{ gs_terraria_autocreate_size }}
gs_terraria_seed: {{ gs_terraria_seed }}
gs_terraria_difficulty: {{ gs_terraria_difficulty }}
gs_terraria_password: {{ gs_terraria_password }}
gs_terraria_max_players: {{ gs_terraria_max_players }}
gs_terraria_curlink: {{ gs_terraria_link }}