[Unit]
Description=Server daemon for Terraria

[Service]
Type=forking
User=vagrant
KillMode=none
ExecStart=/usr/bin/bash {{ gs_terraria_install_dir }}/terraria.d/launch.sh
ExecStop=/usr/bin/bash {{ gs_terraria_install_dir }}/terraria.d/exit.sh

[Install]
WantedBy=multi-user.target