//
// Do any local configuration here
//

// Consider adding the 1918 zones here, if they are not used in your
// organization
// include "/etc/bind/zones.rfc1918";

// Primary zone
zone "{{ dns_server_zone }}" IN {
  type master;
  file "{{ '/etc/bind' if ansible_distribution | lower == 'ubuntu' else '/var/named' }}/fwd.{{ dns_server_zone }}";
};

// Reverse zone
zone "{{ dns_server_reverse_zone }}" IN {
  type master;
  file "{{ '/etc/bind' if ansible_distribution | lower == 'ubuntu' else '/var/named' }}/ptr.{{ dns_server_zone }}";
};
