# Minecraft server properties
# Jinja2 template to be used in yuriel-v's game_server role

spawn-protection={{ gs_mc_cfg['spawn-protection'] | default('16') }}
max-tick-time={{ gs_mc_cfg['max-tick-time'] | default('60000') }}
query.port={{ gs_mc_cfg['query-port'] | default('25565') }}
generator-settings={{ gs_mc_cfg['generator-settings'] | default('') }}
sync-chunk-writes={{ gs_mc_cfg['sync-chunk-writes'] | default('true') }}
force-gamemode={{ gs_mc_cfg['force-gamemode'] | default('') }}
allow-nether={{ gs_mc_cfg['allow-nether'] | default('true') }}
enforce-whitelist={{ gs_mc_cfg['enforce-whitelist'] | default('false') }}
gamemode={{ gs_mc_cfg['gamemode'] | default('survival') }}
broadcast-console-to-ops={{ gs_mc_cfg['broadcast-console-to-ops'] | default('true') }}
enable-query={{ gs_mc_cfg['enable-query'] | default('false') }}
player-idle-timeout={{ gs_mc_cfg['player-idle-timeout'] | default('0') }}
text-filtering-config={{ gs_mc_cfg['text-filtering-config'] | default('') }}
difficulty={{ gs_mc_cfg['difficulty'] | default('easy') }}
broadcast-rcon-to-ops={{ gs_mc_cfg['broadcast-rcon-to-ops'] | default('true') }}
spawn-monsters={{ gs_mc_cfg['spawn-monsters'] | default('true') }}
op-permission-level={{ gs_mc_cfg['op-permission-level'] | default('4') }}
pvp={{ gs_mc_cfg['pvp'] | default('true') }}
entity-broadcast-range-percentage={{ gs_mc_cfg['entity-broadcast-range-percentage'] | default('100') }}
snooper-enabled={{ gs_mc_cfg['snooper-enabled'] | default('true') }}
level-type={{ gs_mc_cfg['level-type'] | default('default') }}
enable-status={{ gs_mc_cfg['enable-status'] | default('true') }}
resource-pack-prompt={{ gs_mc_cfg['resource-pack-prompt'] | default('') }}
hardcore={{ gs_mc_cfg['hardcore'] | default('false') }}
enable-command-block={{ gs_mc_cfg['enable-command-block'] | default('false') }}
network-compression-threshold={{ gs_mc_cfg['network-compression-threshold'] | default('256') }}
max-players={{ gs_mc_cfg['max-players'] | default('20') }}
max-world-size={{ gs_mc_cfg['max-world-size'] | default('29999984') }}
resource-pack-sha1={{ gs_mc_cfg['resource-pack-sha1'] | default('') }}
function-permission-level={{ gs_mc_cfg['function-permission-level'] | default('2') }}
rcon.port={{ gs_mc_cfg['rcon-port'] | default('25575') }}
server-port={{ gs_mc_cfg['server-port'] | default('25565') }}
server-ip={{ gs_mc_cfg['server-ip'] | default('') }}
spawn-npcs={{ gs_mc_cfg['spawn-npcs'] | default('true') }}
require-resource-pack={{ gs_mc_cfg['require-resource-pack'] | default('false') }}
allow-flight={{ gs_mc_cfg['allow-flight'] | default('false') }}
level-name={{ gs_mc_cfg['level-name'] | default('world') }}
view-distance={{ gs_mc_cfg['view-distance'] | default('10') }}
resource-pack={{ gs_mc_cfg['resource-pack'] | default('') }}
spawn-animals={{ gs_mc_cfg['spawn-animals'] | default('true') }}
white-list={{ gs_mc_cfg['white-list'] | default('false') }}
rcon.password={{ gs_mc_cfg['rcon-password'] | default('') }}
generate-structures={{ gs_mc_cfg['generate-structures'] | default('true') }}
online-mode={{ gs_mc_cfg['online-mode'] | default('true') }}
level-seed={{ gs_mc_cfg['level-seed'] | default(ansible_date_time['iso8601_basic'] | regex_replace('[a-zA-Z]', '')) }}
prevent-proxy-connections={{ gs_mc_cfg['prevent-proxy-connections'] | default('false') }}
use-native-transport={{ gs_mc_cfg['use-native-transport'] | default('true') }}
enable-jmx-monitoring={{ gs_mc_cfg['enable-jmx-monitoring'] | default('false') }}
motd={{ gs_mc_cfg['motd'] | default('A Minecraft Server') }}
rate-limit={{ gs_mc_cfg['rate-limit'] | default('0') }}
enable-rcon={{ gs_mc_cfg['enable-rcon'] | default('false') }}
